---
import Layout from "../../layouts/Layout.astro";


import goods from "../../data/goods.json";
export const getStaticPaths = async() => {
  return goods.map(({ url }) => {
    return {
      params: { product : url },
    }
  });
};

const { product } = Astro.params;
const goodsData = goods.find(({url}) => product === url);



---

<Layout>
<img src=`/05_ecsite/images/${goodsData.itemphotos[0]}`>
<div class="content">
  <p>{goodsData.name}</p>
  <p>{goodsData.price}</p>
  {Array.isArray(goodsData.bland) ? (
          goodsData.bland.map(bland => <p key={bland}>{bland}</p>)
        ) : (
          <p>{goodsData.bland}</p>
        )}
  <p>{goodsData.colors}</p>
</div>
</Layout>